<div class="container">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/user/index" class="btn btn-primary">Back</a>
    
    <!-- <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
        <tr >
            <td>{{ post.id }}</td>
            <td>{{ post.title}}</td>
            <td>{{ post.body}}</td>
        </tr>
    </table> -->
    <div>
        <strong>ID:</strong>
        <p>{{ post.id }}</p>
    </div>
   
    <div>
        <strong>Title:</strong>
        <p>{{ post.title }}</p>
    </div>
   
    <div>
        <strong>Body:</strong>
        <p>{{ post.body }}</p>
    </div>
   
</div>